* {
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    align-items: center;
    position: fixed;
    box-shadow:5px 10px 100px 5px black;
}

.a {
    color: white;
    display: flex;
    width: 25%;
    height: 45px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.a:hover {
    border-radius: 5px;
    background-color: orange;
}
.content {
    padding: 45px;
    position: absolute;
    display: flex;
    margin-top: 55px;
    display: none;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    box-shadow:5px 5px 100px 5px black;
}

.a:hover .content{
    display: block;
}
img{
    width: 100%;
}
